# Integration of UN Statistical Yearbook data into country profiles

In [1]:
import pandas as pd
import os 

dir_path = os.path.dirname(os.path.realpath('__file__'))
print(dir_path)

data_dir = r'../UNSYB/data/'

C:\Users\L.GonzalezMorales\Documents\GitHub\FIS4SDGs\unsd\notebooks

## 1. Integrate all country/area details into a single table

### 1.1 Countries

In [2]:
countries_df = pd.read_json(data_dir + 'countries.json' , orient='columns', encoding='UTF-8')
countries_df = countries_df.rename(columns = {'id': 'refAreaId',
                                              'name': 'refAreaName'})
countries_df

,bookNameEng,bookNameFre,refAreaId,isM49,refAreaName
0,Extra-EU-28,Extra-UE-28,-999,N,Extra-EU-28
1,Non Petroleum Exports of Asia Middle East,Exp. non pétrolières de Moyen-Orient d'Asie,-909,N,Non Petroleum Exports of Asia Middle East
2,Regional programmes and other,Programmes régionaux et autres,-793,N,Regional programmes
3,World exc. intra-EU27,Monde excl. intra-UE27,-777,N,World excluding intra-EU27 trade
4,Other,Autres,-579,N,"Global/ interregional, programme support, mana..."
5,Interregional,Interrégional,-378,N,Interregional
6,[use code 593],[use code 593],-198,N,Development Assistance Committee (DAC)
7,Total,Total,-190,Y,Total countries/areas
8,Asia and the Pacific,Asie et le Pacifique,-147,Y,Asia and the Pacific
9,Total,Total,0,Y,Total
10,"Total, all countries or areas","Total, tous pays ou zones",1,Y,World
11,Africa,Afrique,2,Y,Africa
12,North America,Amérique du Nord,3,Y,North America
13,Afghanistan,Afghanistan,4,Y,Afghanistan
14,South America,Amérique du Sud,5,Y,South America
15,Asia [former],Asie [anc.],6,Y,Asia [former]
16,Europe [former],Europe [anc.],7,Y,Europe [former]
17,Albania,Albanie,8,Y,Albania
18,Oceania,Océanie,9,Y,Oceania
19,Antarctica,Antarctique,10,Y,Antarctica
20,Western Africa,Afrique occidentale,11,Y,Western Africa
21,Algeria,Algérie,12,Y,Algeria
22,Central America,Amérique centrale,13,Y,Central America
23,Eastern Africa,Afrique orientale,14,Y,Eastern Africa
24,Northern Africa,Afrique septentrionale,15,Y,Northern Africa
25,American Samoa,Samoa américaines,16,Y,American Samoa
26,Middle Africa,Afrique centrale,17,Y,Middle Africa
27,Southern Africa,Afrique australe,18,Y,Southern Africa
28,Americas,Amériques,19,Y,Americas
29,Andorra,Andorre,20,Y,Andorra
...,...,...,...,...,...
613,"South Viet-Nam, Rep. of [former]",Rép. du Viet-Nam [anc.],868,Y,"South Viet-Nam, Republic of [former]"
614,WIPO,OMPI,869,N,World Intellectual Property Organization (WIPO)
615,OAPI,OAPI,870,N,African Intellectual Property Organization (OAPI)
616,ARIPO,ARIPO,871,N,African Regional Intellectual Property Organiz...
617,Wake Island [former],Île de Wake [anc.],872,Y,Wake Island [former]
618,World Food Council (WFC),Conseil mondial de l'alim,873,Y,World Food Conference (WFC)
619,World Food Programme (WFP,Programme alimentaire mon,874,Y,World Food Programme (WFP)
620,Western Africa n.e.s,Afrique occidentale n.s.a,875,Y,Western Africa not elsewhere specified
621,Wallis and Futuna Islands,Îles Wallis-et-Futuna,876,Y,Wallis and Futuna Islands
622,West Indies,Antilles,877,Y,British West Indies [former]
623,West Indies Associated St,Etats Associés des Indes,878,Y,West Indies Associated States
624,Western Asia n.e.s,Asie occidentale n.s.a,879,Y,Western Asia not elsewhere specified
625,World Health Organization,Organisation mondiale de,880,Y,World Health Organization (WHO)
626,Western Europe n.e.s,Europe occidentale n.s.a,881,Y,Western Europe not elsewhere specified
627,Samoa,Samoa,882,Y,Samoa
628,Windward Islands,Iles Windward,883,Y,British Windward Islands [former]
629,Yaounde Treaty States,Etats du Traité de Yaound,884,Y,Yaounde Treaty States
630,World Meteorological Orga,Organisation météorologiq,885,N,World Meteorological Organization (WMO)
631,Yemen [former],Yémen [anc.],886,Y,Yemen [former]
632,Yemen,Yémen,887,Y,Yemen
633,World Bank,Banque mondiale,888,Y,World Bank (WB)
634,WTO,WTO,889,N,World Trade Organization (WTO)
635,Yugoslavia [former],Yougoslavie [anc.],890,Y,Yugoslavia [former]
636,Serbia and Monten. [former],Serbie-et-Monténégro [anc.],891,Y,Serbia and Montenegro [former]
637,ECOWAS§,CEDEAO§,892,Y,Economic Community of West African States (ECO...
638,Zambia,Zambie,894,Y,Zambia
639,Areas n.e.s,Zones n.s.a,896,Y,Areas not elsewhere specified
640,Areas not specified,Zones non spécifiées,898,Y,Areas not specified
641,Areas n.e.s and unknown,Zones n.s.a et inconnues,899,Y,Areas not elsewhere specified and unknown
642,,,900,N,USER DEFINED

In [3]:
countries_df.columns

Index(['bookNameEng', 'bookNameFre', 'refAreaId', 'isM49', 'refAreaName'], dtype='object')

### 1.2 Country attributes

Each country/area can have a number of attributes.  Those attributes are collected in a table called `countryattributevalues`, and each can have:
- symbol
- textEng
- textFre

The following script adds, for each attribure, adds three columms to the countries table ([AttributeCode], [AttributeTextEN], [AttributeTextFR])

**a) Diplay the attributes list**

In [4]:
country_attributes_df = pd.read_json(data_dir + 'countryattributes.json' , orient='columns', encoding='UTF-8')
country_attributes_df = country_attributes_df.rename(columns = {'id': 'attributeId',
                                                                'name': 'attributeName'})
country_attributes_df

    attributeId                           attributeName
0             1                            Capital City
1             6                      Code active status
2            18                         Code class type
3             7                      Code public status
4             5                               Code type
5             9                              ISO-2 code
6             8                              ISO-3 code
7             2                      Last Election Date
8            12  Major trading partner 1 (% of exports)
9            13  Major trading partner 1 (% of imports)
10           14  Major trading partner 2 (% of exports)
11           15  Major trading partner 2 (% of imports)
12           16  Major trading partner 3 (% of exports)
13           17  Major trading partner 3 (% of imports)
14            0                       National currency
15            3                            Region (M49)
16           10                         System of trade
17           11            Tourism arrivals series type
18            4                      UN Membership Date

**b) Create a list of dictionaries with Attribute ID and Label**

In [5]:
attributes = []

for i in range(len(country_attributes_df.index)):
    
    temp_dict = {}

    temp_dict['attributeId'] = country_attributes_df.iloc[i,0]
    temp_dict['attributeName'] = country_attributes_df.iloc[i,1]
    
    if country_attributes_df.iloc[i,0] == 0:
        temp_dict['label'] = 'nationalCurrency'
    elif country_attributes_df.iloc[i,0] == 1:
        temp_dict['label'] = 'capitalCity'
    elif country_attributes_df.iloc[i,0]== 2:
        temp_dict['label'] = 'lastElectionDate'
    elif country_attributes_df.iloc[i,0] == 3:
        temp_dict['label'] = 'm49'
    elif country_attributes_df.iloc[i,0] == 4:
        temp_dict['label'] = 'UNMembershipDate'
    elif country_attributes_df.iloc[i,0] == 5:
        temp_dict['label'] = 'codeType'
    elif country_attributes_df.iloc[i,0] == 6:
        temp_dict['label'] = 'codeActiveStatus'
    elif country_attributes_df.iloc[i,0] == 7:
        temp_dict['label'] = 'codePublicStatus'
    elif country_attributes_df.iloc[i,0] == 8:
        temp_dict['label'] = 'ISO3CD'
    elif country_attributes_df.iloc[i,0] == 9:
        temp_dict['label'] = 'ISO2CD'
    elif country_attributes_df.iloc[i,0] == 10:
        temp_dict['label'] = 'tradeSystem'
    elif country_attributes_df.iloc[i,0] == 11:
        temp_dict['label'] = 'tourismArrivalsSeriesType'
    elif country_attributes_df.iloc[i,0] == 12:
        temp_dict['label'] = 'exportPartner1'
    elif country_attributes_df.iloc[i,0] == 13:
        temp_dict['label'] = 'importPartner1'
    elif country_attributes_df.iloc[i,0] == 14:
        temp_dict['label'] = 'exportPartner2'
    elif country_attributes_df.iloc[i,0] == 15:
        temp_dict['label'] = 'importPartner2'
    elif country_attributes_df.iloc[i,0] == 16:
        temp_dict['label'] = 'exportPartner3'
    elif country_attributes_df.iloc[i,0] == 17:
        temp_dict['label'] = 'importParnter3'
    elif country_attributes_df.iloc[i,0] == 18:
        temp_dict['label'] = 'codeClassType'
        
    attributes.append(temp_dict)
    
attributes

[{'attributeId': 1, 'attributeName': 'Capital City', 'label': 'capitalCity'},
 {'attributeId': 6,
  'attributeName': 'Code active status',
  'label': 'codeActiveStatus'},
 {'attributeId': 18,
  'attributeName': 'Code class type',
  'label': 'codeClassType'},
 {'attributeId': 7,
  'attributeName': 'Code public status',
  'label': 'codePublicStatus'},
 {'attributeId': 5, 'attributeName': 'Code type', 'label': 'codeType'},
 {'attributeId': 9, 'attributeName': 'ISO-2 code', 'label': 'ISO2CD'},
 {'attributeId': 8, 'attributeName': 'ISO-3 code', 'label': 'ISO3CD'},
 {'attributeId': 2,
  'attributeName': 'Last Election Date',
  'label': 'lastElectionDate'},
 {'attributeId': 12,
  'attributeName': 'Major trading partner 1 (% of exports)',
  'label': 'exportPartner1'},
 {'attributeId': 13,
  'attributeName': 'Major trading partner 1 (% of imports)',
  'label': 'importPartner1'},
 {'attributeId': 14,
  'attributeName': 'Major trading partner 2 (% of exports)',
  'label': 'exportPartner2'},
 {'attributeId': 15,
  'attributeName': 'Major trading partner 2 (% of imports)',
  'label': 'importPartner2'},
 {'attributeId': 16,
  'attributeName': 'Major trading partner 3 (% of exports)',
  'label': 'exportPartner3'},
 {'attributeId': 17,
  'attributeName': 'Major trading partner 3 (% of imports)',
  'label': 'importParnter3'},
 {'attributeId': 0,
  'attributeName': 'National currency',
  'label': 'nationalCurrency'},
 {'attributeId': 3, 'attributeName': 'Region (M49)', 'label': 'm49'},
 {'attributeId': 10,
  'attributeName': 'System of trade',
  'label': 'tradeSystem'},
 {'attributeId': 11,
  'attributeName': 'Tourism arrivals series type',
  'label': 'tourismArrivalsSeriesType'},
 {'attributeId': 4,
  'attributeName': 'UN Membership Date',
  'label': 'UNMembershipDate'}]

** c) Create individual tables for  each attribute AND consolidate in a single table**

In [6]:
country_attribute_values_df = pd.read_json(data_dir + 'countryattributevalues.json' , orient='columns', encoding='UTF-8')
country_attribute_values_df

,countryAttributeId,countryId,dateValue,id,symbol,textEng,textFre
0,0,4,None,1,AFN,Afghani (AFN),afghani (AFN)
1,0,8,None,2,ALL,Lek (ALL),lek (ALL)
2,0,12,None,3,DZD,Algerian Dinar (DZD),dinar algérien (DZD)
3,0,16,None,4,USD,US Dollar (USD),dollar des É.-U. (USD)
4,0,20,None,5,EUR,Euro (EUR),euro (EUR)
5,0,22,None,6,EUR,Euro (EUR),euro (EUR)
6,0,23,None,7,EUR,Euro (EUR),euro (EUR)
7,0,24,None,8,AOA,Kwanza (AOA),kwanza (AOA)
8,0,28,None,9,XCD,E. Caribbean Dollar (XCD),dollar des Caraïb. (XCD)
9,0,31,None,10,AZN,Azerbaijan manat (AZN),manat azerbaïdjanais (AZN)
10,0,32,None,11,ARS,Argentine Peso (ARS),peso argentin (ARS)
11,0,36,None,12,AUD,Australian Dollar (AUD),dollar australien (AUD)
12,0,40,None,13,EUR,Euro (EUR),euro (EUR)
13,0,44,None,14,BSD,Bahamian Dollar (BSD),dollar des Bahamas (BSD)
14,0,48,None,15,BHD,Bahraini Dinar (BHD),dinar de Bahreïn (BHD)
15,0,50,None,16,BDT,Taka (BDT),taka (BDT)
16,0,51,None,17,AMD,Armenian Dram (AMD),dram arménien (AMD)
17,0,52,None,18,BBD,Barbados Dollar (BBD),dollar de la Barbade (BBD)
18,0,56,None,19,EUR,Euro (EUR),euro (EUR)
19,0,60,None,21,BMD,Bermudian Dollar (BMD),dollar des Bermudes (BMD)
20,0,64,None,22,BTN,Ngultrum (BTN),ngultrum (BTN)
21,0,68,None,23,BOB,Boliviano (BOB),boliviano (BOB)
22,0,70,None,24,BAM,Convertible Mark (BAM),marka convertible (BAM)
23,0,72,None,25,BWP,Pula (BWP),pula (BWP)
24,0,74,None,26,NOK,Norwegian Krone (NOK),couronne norvégienne (NOK)
25,0,76,None,27,BRL,Brazilian Real (BRL),real brésilien (BRL)
26,0,80,None,28,GBP,Pound Sterling (GBP),livre sterling (GBP)
27,0,84,None,29,BZD,Belize Dollar (BZD),dollar du Belize (BZD)
28,0,86,None,30,GBP,Pound Sterling (GBP),livre sterling (GBP)
29,0,90,None,31,SBD,Solomon Is. Dollar (SBD),dollar des Îl. Salomon (SBD)
...,...,...,...,...,...,...,...
5768,16,762,None,5815,756,Switzerland,Suisse
5769,16,772,None,5816,250,France,France
5770,16,780,None,5817,170,Colombia,Colombie
5771,16,795,None,5818,4,Afghanistan,Afghanistan
5772,16,796,None,5819,840,United States,États-Unis
5773,16,798,None,5820,70,Bosnia-Herzegovina,Bosnie-Herzégovine
5774,16,860,None,5822,643,Russian Federation,Fédération de Russie
5775,16,876,None,5823,250,France,France
5776,3,699,None,5838,34,Southern Asia,Asie méridionale
5777,3,490,None,5839,30,Eastern Asia,Asie orientale
5778,12,158,None,5840,156,China,Chine
5779,13,158,None,5841,156,China,Chine
5780,14,158,None,5842,344,"China, Hong Kong SAR","Chine, RAS Hong Kong"
5781,15,158,None,5843,392,Japan,Japon
5782,16,158,None,5844,840,United States,États-Unis
5783,17,158,None,5845,840,United States,États-Unis
5784,0,412,None,5846,EUR,Euro (EUR),euro (EUR)
5785,1,158,None,5847,895000149,Taibei,Taibei
5786,17,556,None,5851,484,Mexico,Mexique
5787,10,92,None,5858,G,The general trade system. See the technical no...,Le système du commerce général. Voir les Notes...
5788,10,408,None,5859,G,The general trade system. See the technical no...,Le système du commerce général. Voir les Notes...
5789,10,232,None,5860,G,The general trade system. See the technical no...,Le système du commerce général. Voir les Notes...
5790,10,238,None,5861,G,The general trade system. See the technical no...,Le système du commerce général. Voir les Notes...
5791,10,368,None,5862,S,The special trade system. See the technical no...,Le système du commerce spécial. Voir les Notes...
5792,10,175,None,5863,G,The general trade system. See the technical no...,Le système du commerce général. Voir les Notes...
5793,10,666,None,5864,S,The special trade system. See the technical no...,Le système du commerce spécial. Voir les Notes...
5794,10,891,None,5865,S,The special trade system. See the technical no...,Le système du commerce spécial. Voir les Notes...
5795,10,728,None,5866,G,The general trade system. See the technical no...,Le système du commerce général. Voir les Notes...
5796,10,729,None,5867,G,The general trade system. See the technical no...,Le système du commerce général. Voir les Notes...
5797,10,772,None,5868,G,The general trade system. See the technical no...,Le système du commerce général. Voir les Notes...

In [7]:
country_attribute_values_df = pd.read_json(data_dir + 'countryattributevalues.json' , orient='columns', encoding='UTF-8')
country_attribute_values_df = country_attribute_values_df.rename(columns = {'countryAttributeId': 'attributeId',
                                                                            'countryId': 'refAreaId',
                                                                            'id': 'countryAttributeValueId',
                                                                            'symbol': 'attributeSymbol',
                                                                            'textEng': 'attributeNameEN',
                                                                            'textFre': 'attributeNameFR'})
country_attribute_values_df

countries_x = countries_df.copy()

for i in range(len(attributes)):

    attributeId =  attributes[i]['attributeId']

    x = country_attribute_values_df.loc[country_attribute_values_df['attributeId'] == attributeId]

    x = x[['refAreaId', 'attributeSymbol', 'attributeNameEN', 'attributeNameFR']]

    label = attributes[i]['label']
    x.columns = ['refAreaId', 
                 label+'_Code', 
                 label+'_DescEN', 
                 label + '_DescFR']

    x.to_csv(path_or_buf=data_dir + label+'.csv',index=False, 
                                           encoding='UTF-8')
    
    if attributeId in [0,1,3,10,11,12,13,14,15,16,17,]:
        countries_x = pd.merge(countries_x, 
                               x[['refAreaId', label+'_Code', label+'_DescEN', label+'_DescFR']],
                               how='left',   on=['refAreaId'])
    if attributeId in [5, 6, 7, 18]:
        countries_x = pd.merge(countries_x,x[['refAreaId', label+'_DescEN']],
                               how='left', on=['refAreaId'])
    if attributeId in [8]:
        countries_x = pd.merge(countries_x,x[['refAreaId', label+'_Code']],
                               how='left', on=['refAreaId'])

In [8]:
print(countries_x)

                                   bookNameEng  \
0                                  Extra-EU-28
1    Non Petroleum Exports of Asia Middle East
2                Regional programmes and other
3                        World exc. intra-EU27
4                                       Other
5                                Interregional
6                               [use code 593]
7                                        Total
8                         Asia and the Pacific
9                                        Total
10               Total, all countries or areas
11                                      Africa
12                               North America
13                                 Afghanistan
14                               South America
15                               Asia [former]
16                             Europe [former]
17                                     Albania
18                                     Oceania
19                                  Antarctica
20                              Western Africa
21                                     Algeria
22                             Central America
23                              Eastern Africa
24                             Northern Africa
25                              American Samoa
26                               Middle Africa
27                             Southern Africa
28                                    Americas
29                                     Andorra
..                                         ...
613           South Viet-Nam, Rep. of [former]
614                                       WIPO
615                                       OAPI
616                                      ARIPO
617                       Wake Island [former]
618                   World Food Council (WFC)
619                  World Food Programme (WFP
620                       Western Africa n.e.s
621                  Wallis and Futuna Islands
622                                West Indies
623                  West Indies Associated St
624                         Western Asia n.e.s
625                  World Health Organization
626                       Western Europe n.e.s
627                                      Samoa
628                           Windward Islands
629                      Yaounde Treaty States
630                  World Meteorological Orga
631                             Yemen [former]
632                                      Yemen
633                                 World Bank
634                                        WTO
635                        Yugoslavia [former]
636                Serbia and Monten. [former]
637                                    ECOWAS§
638                                     Zambia
639                                Areas n.e.s
640                        Areas not specified
641                    Areas n.e.s and unknown
642

                                     bookNameFre  refAreaId isM49  \
0                                    Extra-UE-28       -999     N
1    Exp. non pétrolières de Moyen-Orient d'Asie       -909     N
2                 Programmes régionaux et autres       -793     N
3                         Monde excl. intra-UE27       -777     N
4                                         Autres       -579     N
5                                  Interrégional       -378     N
6                                 [use code 593]       -198     N
7                                          Total       -190     Y
8                           Asie et le Pacifique       -147     Y
9                                          Total          0     Y
10                     Total, tous pays ou zones          1     Y
11                                       Afrique          2     Y
12                              Amérique du Nord          3     Y
13                                   Afghanistan          4     Y
14                               Amérique du Sud          5     Y
15                                   Asie [anc.]          6     Y
16                                 Europe [anc.]          7     Y
17                                       Albanie          8     Y
18                                       Océanie          9     Y
19                                   Antarctique         10     Y
20                           Afrique occidentale         11     Y
21                                       Algérie         12     Y
22                             Amérique centrale         13     Y
23                             Afrique orientale         14     Y
24                        Afrique septentrionale         15     Y
25                             Samoa américaines         16     Y
26                              Afrique centrale         17     Y
27                              Afrique australe         18     Y
28                                     Amériques         19     Y
29                                       Andorre         20     Y
..                                           ...        ...   ...
613                      Rép. du Viet-Nam [anc.]        868     Y
614                                         OMPI        869     N
615                                         OAPI        870     N
616                                        ARIPO        871     N
617                           Île de Wake [anc.]        872     Y
618                    Conseil mondial de l'alim        873     Y
619                    Programme alimentaire mon        874     Y
620                    Afrique occidentale n.s.a        875     Y
621                        Îles Wallis-et-Futuna        876     Y
622                                     Antilles        877     Y
623                     Etats Associés des Indes        878     Y
624                       Asie occidentale n.s.a        879     Y
625                     Organisation mondiale de        880     Y
626                     Europe occidentale n.s.a        881     Y
627                                        Samoa        882     Y
628                                Iles Windward        883     Y
629                    Etats du Traité de Yaound        884     Y
630                    Organisation météorologiq        885     N
631                                 Yémen [anc.]        886     Y
632                                        Yémen        887     Y
633                              Banque mondiale        888     Y
634                                          WTO        889     N
635                           Yougoslavie [anc.]        890     Y
636                  Serbie-et-Monténégro [anc.]        891     Y
637                                      CEDEAO§        892     Y
638                                       Zambie        894     Y
639                                  Zones n.s.a        896     Y
640                         Zones non spécifiées        898     Y
641                     Zones n.s.a et inconnues        899     Y
642                                                     900     N

                                           refAreaName capitalCity_Code  \
0                                          Extra-EU-28              NaN
1            Non Petroleum Exports of Asia Middle East              NaN
2                                  Regional programmes              NaN
3                     World excluding intra-EU27 trade              NaN
4    Global/ interregional, programme support, mana...              NaN
5                                        Interregional              NaN
6               Development Assistance Committee (DAC)              NaN
7                                Total countries/areas              NaN
8                                 Asia and the Pacific              NaN
9                                                Total              NaN
10                                               World              NaN
11                                              Africa              NaN
12                                       North America              NaN
13                                         Afghanistan            20002
14                                       South America              NaN
15                                       Asia [former]              NaN
16                                     Europe [former]              NaN
17                                             Albania            20005
18                                             Oceania              NaN
19                                          Antarctica              NaN
20                                      Western Africa              NaN
21                                             Algeria            20006
22                                     Central America              NaN
23                                      Eastern Africa              NaN
24                                     Northern Africa              NaN
25                                      American Samoa            20047
26                                       Middle Africa              NaN
27                                     Southern Africa              NaN
28                                            Americas              NaN
29                                             Andorra            20048
..                                                 ...              ...
613               South Viet-Nam, Republic of [former]              NaN
614    World Intellectual Property Organization (WIPO)              NaN
615  African Intellectual Property Organization (OAPI)              NaN
616  African Regional Intellectual Property Organiz...              NaN
617                               Wake Island [former]              NaN
618                        World Food Conference (WFC)              NaN
619                         World Food Programme (WFP)              NaN
620             Western Africa not elsewhere specified              NaN
621                          Wallis and Futuna Islands            23235
622                       British West Indies [former]              NaN
623                      West Indies Associated States              NaN
624               Western Asia not elsewhere specified              NaN
625                    World Health Organization (WHO)              NaN
626             Western Europe not elsewhere specified              NaN
627                                              Samoa            23236
628                  British Windward Islands [former]              NaN
629                              Yaounde Treaty States              NaN
630            World Meteorological Organization (WMO)              NaN
631                                     Yemen [former]              NaN
632                                              Yemen            23239
633                                    World Bank (WB)              NaN
634                     World Trade Organization (WTO)              NaN
635                                Yugoslavia [former]              NaN
636                     Serbia and Montenegro [former]              NaN
637  Economic Community of West African States (ECO...              NaN
638                                             Zambia            23277
639                      Areas not elsewhere specified              NaN
640                                Areas not specified              NaN
641          Areas not elsewhere specified and unknown              NaN
642                                       USER DEFINED              NaN

    capitalCity_DescEN  capitalCity_DescFR codeActiveStatus_DescEN  \
0                  NaN                 NaN                     NaN
1                  NaN                 NaN                     NaN
2                  NaN                 NaN                     NaN
3                  NaN                 NaN                     NaN
4                  NaN                 NaN                     NaN
5                  NaN                 NaN                     NaN
6                  NaN                 NaN                     NaN
7                  NaN                 NaN                     NaN
8                  NaN                 NaN                     NaN
9                  NaN                 NaN                       N
10                 NaN                 NaN                       Y
11                 NaN                 NaN                       Y
12                 NaN                 NaN                       Y
13               Kabul              Kaboul                       Y
14                 NaN                 NaN                       Y
15                 NaN                 NaN                       N
16                 NaN                 NaN                       N
17              Tirana              Tirana                       Y
18                 NaN                 NaN                       Y
19                 NaN                 NaN                       Y
20                 NaN                 NaN                       Y
21             Algiers               Alger                       Y
22                 NaN                 NaN                       Y
23                 NaN                 NaN                       Y
24                 NaN                 NaN                       Y
25           Pago Pago           Pago Pago                       Y
26                 NaN                 NaN                       Y
27                 NaN                 NaN                       Y
28                 NaN                 NaN                       Y
29    Andorra la Vella  Andorre-la-Vieille                       Y
..                 ...                 ...                     ...
613                NaN                 NaN                       N
614                NaN                 NaN                       N
615                NaN                 NaN                       N
616                NaN                 NaN                       N
617                NaN                 NaN                       N
618                NaN                 NaN                       N
619                NaN                 NaN                       N
620                NaN                 NaN                       N
621           Matu-Utu            Matu-Utu                       Y
622                NaN                 NaN                       N
623                NaN                 NaN                       N
624                NaN                 NaN                       Y
625                NaN                 NaN                       N
626                NaN                 NaN                       N
627               Apia                Apia                       Y
628                NaN                 NaN                       N
629                NaN                 NaN                       N
630                NaN                 NaN                       N
631                NaN                 NaN                       N
632             Sana'a               Sanaa                       Y
633                NaN                 NaN                       N
634                NaN                 NaN                       N
635                NaN                 NaN                       N
636                NaN                 NaN                       N
637                NaN                 NaN                       Y
638             Lusaka              Lusaka                       Y
639                NaN                 NaN                       N
640                NaN                 NaN                       N
641                NaN                 NaN                       N
642                NaN                 NaN                     NaN

    codeClassType_DescEN                        ...                          \
0                    NaN                        ...
1                    NaN                        ...
2                    NaN                        ...
3                    NaN                        ...
4                    NaN                        ...
5                    NaN                        ...
6                    NaN                        ...
7                    NaN                        ...
8                    NaN                        ...
9                      1                        ...
10                     0                        ...
11                     1                        ...
12                   1.5                        ...
13                     2                        ...
14                     2                        ...
15                     1                        ...
16                     1                        ...
17                     2                        ...
18                     1                        ...
19                     1                        ...
20                     2                        ...
21                     2                        ...
22                     2                        ...
23                     2                        ...
24                     2                        ...
25                     2                        ...
26                     2                        ...
27                     2                        ...
28                     1                        ...
29                     2                        ...
..                   ...                        ...
613                    2                        ...
614                    1                        ...
615                    1                        ...
616                    1                        ...
617                    2                        ...
618                    1                        ...
619                    1                        ...
620                    3                        ...
621                    2                        ...
622                   -1                        ...
623                    2                        ...
624                    3                        ...
625                    1                        ...
626                    3                        ...
627                    2                        ...
628                   -1                        ...
629                    2                        ...
630                    1                        ...
631                    2                        ...
632                    2                        ...
633                    1                        ...
634                    1                        ...
635                    2                        ...
636                    2                        ...
637                    2                        ...
638                    2                        ...
639                    1                        ...
640                    1                        ...
641                    1                        ...
642                  NaN                        ...

    nationalCurrency_DescFR m49_Code                 m49_DescEN  \
0                       NaN      NaN                        NaN
1                       NaN      NaN                        NaN
2                       NaN      NaN                        NaN
3                       NaN      NaN                        NaN
4                       NaN      NaN                        NaN
5                       NaN      NaN                        NaN
6                       NaN      NaN                        NaN
7                       NaN      NaN                        NaN
8                       NaN      NaN                        NaN
9                       NaN      NaN                        NaN
10                      NaN      NaN                        NaN
11                      NaN        1                      World
12                      NaN       19                   Americas
13            afghani (AFN)       34              Southern Asia
14                      NaN      419  Latin America & Caribbean
15                      NaN        1                      World

Rename columns:

In [9]:
countries_x=countries_x.rename(columns = {'codeActiveStatus_DescEN':'activeStatus',
                                          'codeClassType_DescEN': 'classType',
                                          'codePublicStatus_DescEN': 'publicStatus',
                                          'codeType_DescEN': 'type',
                                          'm49_Code': 'parentRegionId',
                                          'm49_DescEN': 'parentRegion_DescEN', 
                                          'm49_DescFR': 'parentRegion_DescFR'})

In [10]:
countries_x.columns

Index(['bookNameEng', 'bookNameFre', 'refAreaId', 'isM49', 'refAreaName',
       'capitalCity_Code', 'capitalCity_DescEN', 'capitalCity_DescFR',
       'activeStatus', 'classType', 'publicStatus', 'type', 'ISO3CD_Code',
       'exportPartner1_Code', 'exportPartner1_DescEN', 'exportPartner1_DescFR',
       'importPartner1_Code', 'importPartner1_DescEN', 'importPartner1_DescFR',
       'exportPartner2_Code', 'exportPartner2_DescEN', 'exportPartner2_DescFR',
       'importPartner2_Code', 'importPartner2_DescEN', 'importPartner2_DescFR',
       'exportPartner3_Code', 'exportPartner3_DescEN', 'exportPartner3_DescFR',
       'importParnter3_Code', 'importParnter3_DescEN', 'importParnter3_DescFR',
       'nationalCurrency_Code', 'nationalCurrency_DescEN',
       'nationalCurrency_DescFR', 'parentRegionId', 'parentRegion_DescEN',
       'parentRegion_DescFR', 'tradeSystem_Code', 'tradeSystem_DescEN',
       'tradeSystem_DescFR', 'tourismArrivalsSeriesType_Code',
       'tourismArrivalsSeriesType_DescEN', 'tourismArrivalsSeriesType_DescFR'],
      dtype='object')

Re-order columns:

In [11]:
countries_x = countries_x[['type','parentRegionId', 'parentRegion_DescEN','parentRegion_DescFR',
 'refAreaId', 'isM49', 'ISO3CD_Code',
 'refAreaName','bookNameEng', 'bookNameFre', 
 'capitalCity_Code', 'capitalCity_DescEN', 'capitalCity_DescFR',
 'nationalCurrency_Code', 'nationalCurrency_DescEN','nationalCurrency_DescFR',
 'activeStatus', 'classType', 'publicStatus',  
 'exportPartner1_Code', 'exportPartner1_DescEN', 'exportPartner1_DescFR',
 'importPartner1_Code', 'importPartner1_DescEN', 'importPartner1_DescFR',
 'exportPartner2_Code', 'exportPartner2_DescEN', 'exportPartner2_DescFR',
 'importPartner2_Code', 'importPartner2_DescEN', 'importPartner2_DescFR',
 'exportPartner3_Code', 'exportPartner3_DescEN', 'exportPartner3_DescFR',
 'importParnter3_Code', 'importParnter3_DescEN', 'importParnter3_DescFR',
 'tradeSystem_Code', 'tradeSystem_DescEN','tradeSystem_DescFR', 
 'tourismArrivalsSeriesType_Code','tourismArrivalsSeriesType_DescEN', 'tourismArrivalsSeriesType_DescFR']]

Save extended country table to a csv file:

In [12]:
#print(countries_x.head(8))

countries_x.to_csv(data_dir + 'countries_x.csv',index=False, encoding='UTF-8')

# 2. Consolidate data table

## 2.1 Explore data tables

** a) data table **

In [13]:
data_df = pd.read_json(data_dir + 'data.json' , orient='columns', encoding='UTF-8')
data_df = data_df.rename(columns = {'countryId': 'refAreaId',
                                    'id' : 'dataId',
                                    'sybValue' : 'value'})
data_df.to_csv(data_dir + 'ref_data_df.csv',index=False, encoding='UTF-8')

data_df

        refAreaId    dataId  seriesId       value  year
0               8  10775856       254    121.0000  1993
1               8  10775857       254    198.0000  1994
2               8  10775858       254    309.0000  1995
3               8  10775859       254    213.0000  1996
4               8  10775860       254    123.0000  1997
5               8  10775861       254     61.0000  1998
6               8  10775862       254     29.0000  1999
7               8  10775863       254     72.0000  2000
8               8  10775864       254     69.0000  2001
9               8  10775865       254     64.0000  2002
10              8  10775866       254    208.0000  2003
11              8  10775867       255    288.0000  1993
12              8  10775868       255    576.0000  1994
13              8  10775869       255   1002.0000  1995
14              8  10775870       255   1218.0000  1996
15              8  10775871       255   1053.0000  1997
16              8  10775872       255   1419.0000  1998
17              8  10775873       255   1115.0000  1999
18              8  10775874       255   2212.0000  2000
19              8  10775875       255   2558.0000  2001
20              8  10775876       255   2673.0000  2002
21              8  10775877       255   2876.0000  2003
22             12  10775878       254  38688.0000  1980
23             12  10775879       254  38202.0000  1981
24             12  10775880       254  45080.0000  1982
25             12  10775881       254  51837.0000  1983
26             12  10775882       254  53133.0000  1984
27             12  10775883       254  83008.0000  1985
28             12  10775884       254  81403.0000  1986
29             12  10775885       254  79192.0000  1987
...           ...       ...       ...         ...   ...
423115        580  20510046      1391    452.0000  2003
423116        580  20510047      1391    525.0000  2004
423117        580  20510048      1391    498.0000  2005
423118        580  20510049      1391    429.0000  2006
423119        580  20510050      1391    385.0000  2007
423120        580  20510051      1391    388.0000  2008
423121        580  20510052      1391    345.0000  2009
423122        580  20510053      1391    375.0000  2010
423123        580  20510054      1391    336.0000  2011
423124        580  20510055      1391    399.0000  2012
423125        580  20510056      1391    436.0000  2013
423126        580  20510057      1391    455.0000  2014
423127        580  20510058      1391    475.1000  2015
423128        580  20510059      1391    526.0000  2016
423129        580  20510060      1391    656.0000  2017
423130        580  20510061      1390    665.0000  1995
423131        142  20510062      1491     22.6068  2010
423132        142  20510063      1491     25.4603  2011
423133        142  20510064      1491     28.3574  2012
423134        142  20510065      1491     31.3346  2013
423135        142  20510066      1491     35.0378  2014
423136        142  20510067      1491     38.5681  2015
423137        142  20510068      1491     41.8170  2016
423138        142  20510069      1491     45.2462  2017
423139        624  20510070      1390     17.3000  2015
423140        624  20510071      1390     11.5000  2016
423141        246  20510072      1391   1779.0000  1995
423142        246  20510073      1391   2622.0000  2015
423143        246  20510074      1391   2789.0000  2016
423144        246  20510075      1391   3180.0000  2017

[423145 rows x 5 columns]

** b) series table **

In [14]:
series_df = pd.read_json(data_dir + 'series.json' , orient='columns', encoding='UTF-8')
series_df = series_df.rename(columns = {'id' : 'seriesId',
                                        'name' : 'seriesName',
                                        'code' : 'seriesCode'})
series_df.to_csv(data_dir + 'ref_series_df.csv',index=False, encoding='UTF-8')


series_df

,seriesCode,countryAttributeId,seriesId,seriesName,sourceId,tableId
0,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84
1,Water-%R,NaN,3,"Improved drinking water sources, rural (Propor...",42,84
2,Water-%T,NaN,4,"Improved drinking water sources, total (Propor...",42,84
3,Sanit-%U,NaN,5,"Improved sanitation facilities, urban (Proport...",42,84
4,Sanit-%R,NaN,6,"Improved sanitation facilities, rural (Proport...",42,84
5,Sanit-%T,NaN,7,"Improved sanitation facilities, total (Proport...",42,84
6,Agri_ind,NaN,8,Agricultural production (Index Base: 2004-2006...,11,32
7,vertebr,NaN,10,Threatened Species: Vertebrates (number),41,5
8,mjtradexp1,12.0,11,Major trading partner 1 (% of exports),95,14
9,mjtradexp2,14.0,12,Major trading partner 2 (% of exports),95,14
10,popgrow,NaN,13,Population annual rate of increase (percent),73,8
11,mjtradexp3,16.0,15,Major trading partner 3 (% of exports),95,14
12,mjtradimp1,13.0,16,Major trading partner 1 (% of imports),95,14
13,Fin_acct,NaN,17,Balance of Payments: Financial account (millio...,16,74
14,mjtradimp2,15.0,18,Major trading partner 2 (% of imports),95,14
15,mjtradimp3,17.0,19,Major trading partner 3 (% of imports),95,14
16,poplt15,NaN,22,Population aged 0 to 14 years old (percentage),87,89
17,popgt60,NaN,23,Population aged 60+ years old (percentage),87,89
18,sexratio,NaN,24,Sex ratio (males per 100 females),87,89
19,LifeEx,NaN,36,Life expectancy at birth for both sexes (years),87,8
20,KBAPA,NaN,40,Important sites for terrestrial biodiversity p...,94,64
21,intkmfl,NaN,47,International traffic - kilometers flown (mill...,75,61
22,intpkm,NaN,48,International traffic - passenger-kilometres (...,75,61
23,intpcar,NaN,49,International traffic - passengers carried (th...,75,61
24,inttonkm,NaN,50,International traffic - total ton-kilometres (...,75,61
25,totkmfl,NaN,51,Total traffic - kilometres flown (millions),75,61
26,totpkm,NaN,52,Total traffic - passenger-kilometres (millions),75,61
27,totpcar,NaN,53,Total traffic - passengers carried (thousands),75,61
28,tottonkm,NaN,54,Total traffic - total ton-kilometres (millions),75,61
29,Man_H2O_R,NaN,55,"Safely managed drinking water sources, rural (...",42,84
...,...,...,...,...,...,...
173,totrefugee,NaN,1613,Total refugees and people in refugee-like situ...,90,78
174,ims%tot,NaN,1614,International migrant stock: Both sexes (% tot...,89,78
175,ims%male,NaN,1615,International migrant stock: Male (% total Pop...,89,78
176,ims%fem,NaN,1616,International migrant stock: Female (% total P...,89,78
177,asylsk,NaN,1617,"Asylum seekers, including pending cases (number)",90,78
178,other,NaN,1618,Other of concern to UNHCR (number),90,78
179,totpopunhc,NaN,1619,Total population of concern to UNHCR (number),90,78
180,homirate,NaN,1621,"Intentional homicide rates per 100,000",92,104
181,homivicF,NaN,1622,Percentage of male and female intentional homi...,92,104
182,homivicM,NaN,1623,Percentage of male and female intentional homi...,92,104
183,assault,NaN,1624,"Assault rate per 100,000 population",92,104
184,kidnap,NaN,1625,"Kidnapping at the national level, rate per 100...",92,104
185,sviolence,NaN,1626,"Total Sexual Violence at the national level, r...",92,104
186,theft,NaN,1627,"Theft at the national level, rate per 100,000 ...",92,104
187,robbery,NaN,1628,"Robbery at the national level, rate per 100,00...",92,104
188,%gre_pri_F,NaN,1629,Gross enrollment ratio - Primary (female),24,1
189,%ger_sec_M,NaN,1630,Gross enrollment ratio - Secondary (male),24,1
190,%ger_ter_M,NaN,1631,Gross enrollment ratio - Tertiary (male),24,1
191,edugdp,NaN,1632,Public expenditure on education (% of GDP),24,109
192,edugov,NaN,1633,Public expenditure on education (% of governme...,24,109
193,exppreprim,NaN,1634,Expenditure by level of education: pre-primary...,24,109
194,expprim,NaN,1635,Expenditure by level of education: primary (as...,24,109
195,expsec,NaN,1636,Expenditure by level of education: secondary (...,24,109
196,exptert,NaN,1637,Expenditure by level of education: tertiary (a...,24,109
197,staffcomp,NaN,1638,All staff compensation as % of total expenditu...,24,109
198,currentexp,NaN,1639,Current expenditure other than staff compensat...,24,109
199,capexpedu,NaN,1640,Capital expenditure as % of total expenditure ...,24,109
200,%ger_pri_M,NaN,1641,Gross enrollement ratio - Primary (male),24,1
201,%ger_sec_F,NaN,1642,Gross enrollment ratio - Secondary (female),24,1
202,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1

** c) topics table **

In [15]:
topics_df = pd.read_json(data_dir + 'topics.json' , orient='columns', encoding='UTF-8')
topics_df = topics_df.rename(columns = {'id' : 'topicId',
                                        'nameEng' : 'topicNameEN',
                                        'nameFre' : 'topicNameFR'})
topics_df.to_csv(data_dir + 'ref_topics_df.csv',index=False, encoding='UTF-8')


topics_df

,topicId,topicNameEN,topicNameFR
0,2,Population and migration,Population et migration
1,3,Education,Éducation
2,4,Gender,La situation des femmes
3,5,Communication,Communications
4,6,National accounts,Comptes nationaux
5,7,Finance,Finances
6,8,Labour market,Marché du travail
7,9,Price and production indices,Indices des prix et de la production
8,11,Crime,Criminalité
9,13,Environment,Environnement
10,14,Science and technology,Science et technologie
11,15,International merchandise trade,Commerce international des marchandises
12,16,International tourism and transport,Tourisme et transport internationaux
13,19,Development assistance,Aide au développement
14,20,Energy,Énergie
15,21,World summary,Aperçu mondial
16,22,Health,Santé

** d) sources table **

In [16]:
sources_df = pd.read_json(data_dir + 'sources.json' , orient='columns', encoding='UTF-8')
sources_df = sources_df.rename(columns = {'id' : 'sourceId',
                                          'code': 'sourceCode',
                                        'nameEng' : 'sourceNameEN',
                                        'nameFre' : 'sourceNameFR'})

topics_df.to_csv(data_dir + 'ref_topics_df.csv',index=False, encoding='UTF-8')

** e) tables table **

In [17]:
tables_df = pd.read_json(data_dir + 'tables.json' , orient='columns', encoding='UTF-8')
tables_df = tables_df.rename(columns = {'id' : 'tableId',
                                        'code': 'tableCode',
                                        'name': 'tableName',
                                        'note': 'tableNote'})
tables_df

,tableCode,tableId,tableName,tableNote,tableStatusId,tbBkCode,tbBkPrint,topicId
0,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3
1,threatened,5,Threatened species,None,1,T25,Y,13
2,rdexpend,6,Gross domestic expenditure on research and dev...,13 Jun 2018 (Ian)\r\nRegional data from SDG 9....,2,T30,Y,14
3,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,2
4,majtradepa,14,Major trading partners,None,1,T22,Y,15
5,newvaluead,18,Gross Value added by kind of economic activity,None,2,T14,Y,6
6,gdp,19,Gross domestic product and gross domestic prod...,None,1,T13,Y,6
7,industindx,23,Index of Industrial Production,None,3,X25,Y,9
8,agindx,32,Agricultural production indices,None,1,T20,Y,9
9,employment,49,Employment by economic activity,None,1,T18,Y,8
10,railways,57,Railways: traffic,None,9,X99,Y,16
11,motorvehiclesinuse,58,Motor vehicles in use,None,9,X98,Y,16
12,maritimetransport,60,International maritime transport,None,9,X97,Y,16
13,civilaviation,61,Civil aviation: scheduled airline traffic,None,3,T31,Y,16
14,land,64,Land,13 Jun 2018 (Ian)\r\nSites protected for terre...,2,T24,Y,13
15,tscenergy,65,"Production, trade and supply of energy",4 Jan 2018 (Ian) Bunkers = marine and aviation,2,T23,Y,20
16,rdstaff,66,Population employed in research and developmen...,None,5,T26,Y,14
17,patents,67,Patents,None,2,T28,Y,14
18,impexpdollars,68,"Total imports, exports and balance of trade",None,1,T21,Y,15
19,bop,74,Balance of payments summary,None,1,T15,Y,7
20,exchangerates,75,Exchange rates,"12 Jul 2017 (Ian) - Cayman Is., Cuba, DPR Kore...",1,T16,Y,7
21,odabimulti,77,Net disbursements of official development assi...,"18 Jul 2018 (Ian) \r\n""Chinese Taipei"" should ...",1,T31,Y,19
22,intlmigref,78,International migrants and refugees,None,1,T04,Y,2
23,popurbrur,83,Population and rates of growth in urban areas ...,None,1,T03,Y,2
24,water,84,Water supply and sanitation services,None,3,X26,Y,13
25,pop,89,"Population, density and surface area",None,1,T02,Y,2
26,Tab1,93,World statistics - selected series,None,1,T01,Y,21
27,unemployme,94,Labour force participation and unemployment,None,1,T17,Y,8
28,CPI,98,Consumer Price Index,None,1,T19,Y,9
29,odafrmdac,103,Net disbursements of official development assi...,"18 Jul 2018 (Ian) \r\n""Chinese Taipei"" should ...",1,T32,Y,19
30,crime,104,Intentional homicides and other crimes,13 Jun 2018 (Ian)\r\nRegional data from SDG 16...,2,T12,Y,11
31,internet_n,106,Internet Usage,13 Jun 2018 (Ian)\r\nRegional data from SDG 17...,2,T29,Y,5
32,cellular,107,Cellular mobile telephone subscriptions,None,9,X96,Y,5
33,expendedu,109,Public expenditure on education,None,1,T09,Y,3
34,gpi_edu,115,"Ratio of girls to boys in primary, secondary a...",None,1,T06,Y,4
35,tourarrivexpend,116,Tourist/visitor arrivals and tourism expenditure,None,2,T30,Y,16
36,healthexpe,117,Expenditure on health,None,1,T11,Y,22
37,parliament,134,Proportion of seats held by women in national ...,Liaise with Zin so the data serves SDGs also,1,T05,Y,4
38,teachers,135,"Teaching staff at the primary, secondary and t...",None,1,T08,Y,3
39,Healthforc,151,Health Personnel,None,1,T10,Y,22
40,dioxide,152,CO2 emission estimates,None,3,X25,Y,13

** f) dataxfootnotes table **

In [18]:
dataxfootnotes_df = pd.read_json(data_dir + 'dataxfootnotes.json' , orient='columns', encoding='UTF-8')
dataxfootnotes_df = dataxfootnotes_df.rename(columns = {'countryId' : 'refAreaId'})
dataxfootnotes_df

        refAreaId  footnoteId       id  seriesId  year
0              50       58596  7874820         2  1990
1              50       58596  7874826         2  2000
2             156       56965  8381537         2  1990
3             156       56965  8381538         2  2000
4             156       56965  8381539         2  2005
5             156       56965  8381540         2  2010
6             156       56965  8381541         2  2011
7             156       56965  8381542         2  2012
8             156       56965  8381543         2  2013
9             156       56965  8381544         2  2014
10            156       56965  8381545         2  2015
11            736       59996  7874832         2  2000
12             50       58596  7874821         3  1990
13             50       58596  7874827         3  2000
14            156       56965  8381546         3  1990
15            156       56965  8381547         3  2000
16            156       56965  8381548         3  2005
17            156       56965  8381549         3  2010
18            156       56965  8381550         3  2011
19            156       56965  8381551         3  2012
20            156       56965  8381552         3  2013
21            156       56965  8381553         3  2014
22            156       56965  8381554         3  2015
23            736       59996  7874833         3  2000
24             50       58596  7874822         4  1990
25             50       58596  7874828         4  2000
26            156       56965  8381555         4  1990
27            156       56965  8381556         4  2000
28            156       56965  8381557         4  2005
29            156       56965  8381558         4  2010
...           ...         ...      ...       ...   ...
171033        686          51  8586541      1643  2010
171034        688          51  8586856      1643  2001
171035        688          51  8587373      1643  2002
171036        688          51  8587075      1643  2003
171037        688          51  8587488      1643  2004
171038        688          51  8587651      1643  2005
171039        688          51  8587341      1643  2006
171040        688          51  8587975      1643  2007
171041        688          51  8586817      1643  2008
171042        688          51  8586282      1643  2009
171043        688          51  8588355      1643  2010
171044        688          51  8587092      1643  2011
171045        688          51  8587998      1643  2012
171046        688          51  8588533      1643  2013
171047        688          51  8588804      1643  2014
171048        688          51  8588298      1643  2015
171049        688          51  8589018      1643  2016
171050        694          51  8588882      1643  2002
171051        764          51  8588314      1643  2003
171052        776          51  8586333      1643  2002
171053        804          51  8587672      1643  2002
171054        804          51  8587761      1643  2003
171055        804          51  8586949      1643  2004
171056        804          51  8587562      1643  2006
171057        804          51  8588432      1643  2008
171058        834          51  8586741      1643  2005
171059        858          51  8586782      1643  2000
171060        862          51  8586631      1643  2002
171061        862          51  8587489      1643  2003
171062        862          51  8587593      1643  2008

[171063 rows x 5 columns]

** g) footnotes **

In [19]:
footnotes_df = pd.read_json(data_dir + 'footnotes.json' , orient='columns', encoding='UTF-8')
footnotes_df = footnotes_df.rename(columns = {'code' : 'footnoteCode',
                                              'id': 'footnoteId',
                                              'textEng' : 'footnoteTextEN',
                                              'textFre' : 'footnoteTextFR'})
footnotes_df

,footnoteCode,footnoteId,footnoteTextEN,footnoteTextFR
0,bellux,1,Data refer to Belgium and Luxembourg.,Les données se rapportent à Belgique et Luxemb...
1,changestructure,3,Change in structure beginning this year.,Changement de structure à partir de cette année.
2,500905,5,General education includes public and aided ed...,None
3,chcoverage,16,Change in data coverage beginning this year.,Changement dans la couverture des données à pa...
4,500930,17,Not including evening schools.,None
5,chinastat2,20,"For statistical purposes, the data for China d...","Pour la présentation des statistiques, les don..."
6,dayschools,21,Day schools only.,
7,500942,22,Not including Turkish schools.,None
8,incdebtf9092,25,Including debt forgiveness of non-ODA claims i...,
9,568,27,Data on vocational refer to public education o...,
10,noncellfabonly,34,Non-cellulosic fabrics only.,Les tissus en fibres non cellulosiques seulement.
11,500974,35,General education only.,None
12,500979,40,Not including vocational education.,None
13,500983,41,"Not including recognised ""Medersas"".",None
14,500984,42,Not including post-primary classes.,None
15,services,46,Services only.,Service seulement.
16,incstorelosses,47,Including store losses of 1 159 tons and accid...,Y compris des pertes de 1 159 tonnes au cours ...
17,500992,48,Vocational education includes public education...,None
18,500993,49,General education includes public education only.,None
19,500994,50,"Beginning 1997, secondary education includes p...",None
20,estimate,51,Estimate.,Données estimatives.
21,excexpteredu,52,Not including expenditure on tertiary education.,
22,minofedonly,53,Ministry of Education only.,Le Ministère de l’Education seulement.
23,provisional*,54,Provisional data.,Estimation partielle.
24,expedu%GSP,55,Expenditure on Education as % of Global Social...,Expenditure on Education as % of Global Social...
25,expOGEonly,56,Expenditure of the Office of Greek Education o...,
26,Flemishonly,57,Flemish Community only.,
27,501007,58,From 1980-93 data are expressed in Pesos. From...,None
28,501009,60,From 1980-90 data are expressed in Australs. F...,None
29,501010,61,From 1980-89 data are expressed in Cruzeiros. ...,None
...,...,...,...,...
4387,indbDec2016,61433,Index base: December 2016=100.,Indices base: 2016 décembre=100.
4388,indbDec2014,61434,Index base: December 2014=100.,Indices base: 2014 décembre=100.
4389,basesolariran,61435,Index base: fiscal (solar) year 2016 (21 March...,Indices base: année fiscale (solaire) 2016 (21...
4390,base20142015,61436,Index base: 2014/2015=100.,Indices base: 2014/2015=100.
4391,Undiscld,61437,Undisclosed (Special categories).,Pays non divulgués.
4392,indbJan2010,61439,Index base: January 2010=100.,Indices base: 2010 janvier=100.
4393,indbDec2015,61440,Index base: December 2015=100.,Indices base: 2015 décembre=100.
4394,indbNov2014,61441,Index base: November 2014=100.,Indices base: 2014 novembre=100.
4395,indbDec2012,61442,Index base: December 2012=100.,Indices base: 2012 décembre=100.
4396,indboctdec2006,61443,Index Base: October to December 2006=100.,Indices base: octobre au décembre 2006=100.
4397,indbJun2010,61444,Index base: June 2010=100.,Indices base: 2010 juin=100.
4398,indbDec2009,61445,Index base: December 2009=100.,Indices base: 2009 décembre=100.
4399,waemu,61446,WAEMU harmonized consumer price index.,UEMOA harmonisé l'indice des prix à la consomm...
4400,indbaug2004,61447,Index base: August 2004=100.,Indices base: 2004 août=100.
4401,exazerarmcygetu,61449,"Data excludes Armenia, Azerbaijan, Cyprus, Geo...","Les données excluent l'Arménie, l'Azerbaïdjan,..."
4402,KuwaitFundGrants,61450,Includes Kuwait Fund grants only.,Inclut les subventions du Fonds koweïtien seul...
4403,Russiadebtrelief,61451,Some of the debt relief reported may correspon...,Une partie de l'allégement de la dette rapport...
4404,KuwaitFunds3,61452,"Includes Kuwait Fund grants, State of Kuwait g...","Inclut les subventions du Fonds koweïtien, les..."
4405,UAEDAC2,61453,"Data reported at activity level, represent flo...","Les données rapportées au niveau d'activité, c..."
4406,arrnrbrd,61454,Arrivals of non-resident tourists at national ...,Arrivées de touristes non résidents aux fronti...
4407,portugarrivals,61455,"Include hotels, apartment hotels, “pousadas”, ...","Inclure les hôtels, les appart-hôtels, les pou..."
4408,binathydroelec,61456,Does not incorporate export of binational hydr...,
4409,Ex&IMPfrontiers,61457,Exports and imports of merchandise are recorde...,
4410,12-75,61458,Population aged 12 to 75 years.,Population âgée de 12 à 75 ans.
4411,ukrainefn,61459,The Government of Ukraine has informed the Uni...,Le gouvernement Ukrainien a informé l'ONU qu'i...
4412,extransbender,61460,Excluding Transnistria and the municipality of...,Non compris la Transnistrie et la commune de B...
4413,okinawafn,61461,Data include Okinawa.,Les données incluent Okinawa.
4414,arrbylandrail,61462,Figures include arrivals by land (road and rai...,
4415,wbankhotel,61463,Data on hotel activity represent the West Bank...,Les données sur l'activité hôtelière ne concer...
4416,nethsurina,61464,Data exclude Suriname and the Netherlands Anti...,

## Consolidate data table

**a) Join `data` and `countries_x` **

In [20]:
data_x = pd.merge(countries_x[['type', 'parentRegionId', 'parentRegion_DescEN', 'refAreaId','refAreaName']],
                  data_df,
                  how='right',
                  on = ['refAreaId'])
data_x

,type,parentRegionId,parentRegion_DescEN,refAreaId,refAreaName,dataId,seriesId,value,year
0,NaN,NaN,NaN,-147,Asia and the Pacific,20396084,1586,50.87,2000
1,NaN,NaN,NaN,-147,Asia and the Pacific,20396085,1586,50.08,2001
2,NaN,NaN,NaN,-147,Asia and the Pacific,20396086,1586,49.23,2002
3,NaN,NaN,NaN,-147,Asia and the Pacific,20396087,1586,48.03,2003
4,NaN,NaN,NaN,-147,Asia and the Pacific,20396088,1586,47.07,2004
5,NaN,NaN,NaN,-147,Asia and the Pacific,20396089,1586,45.91,2005
6,NaN,NaN,NaN,-147,Asia and the Pacific,20396090,1586,44.04,2006
7,NaN,NaN,NaN,-147,Asia and the Pacific,20396091,1586,42.58,2007
8,NaN,NaN,NaN,-147,Asia and the Pacific,20396092,1586,41.50,2008
9,NaN,NaN,NaN,-147,Asia and the Pacific,20396093,1586,40.06,2009
10,NaN,NaN,NaN,-147,Asia and the Pacific,20396094,1586,38.67,2010
11,NaN,NaN,NaN,-147,Asia and the Pacific,20396095,1586,36.89,2011
12,NaN,NaN,NaN,-147,Asia and the Pacific,20396096,1586,35.27,2012
13,NaN,NaN,NaN,-147,Asia and the Pacific,20396097,1586,34.28,2013
14,NaN,NaN,NaN,-147,Asia and the Pacific,20396098,1586,33.48,2014
15,NaN,NaN,NaN,-147,Asia and the Pacific,20396099,1586,32.58,2015
16,NaN,NaN,NaN,-147,Asia and the Pacific,20396100,1586,31.65,2016
17,NaN,NaN,NaN,-147,Asia and the Pacific,20396101,1586,30.99,2017
18,NaN,NaN,NaN,-147,Asia and the Pacific,20396102,1586,30.10,2018
19,NaN,NaN,NaN,-147,Asia and the Pacific,20396103,1586,29.29,2019
20,NaN,NaN,NaN,-147,Asia and the Pacific,20396104,1586,28.51,2020
21,NaN,NaN,NaN,-147,Asia and the Pacific,20400620,1589,22.69,2000
22,NaN,NaN,NaN,-147,Asia and the Pacific,20400621,1589,22.45,2001
23,NaN,NaN,NaN,-147,Asia and the Pacific,20400622,1589,22.25,2002
24,NaN,NaN,NaN,-147,Asia and the Pacific,20400623,1589,22.82,2003
25,NaN,NaN,NaN,-147,Asia and the Pacific,20400624,1589,22.55,2004
26,NaN,NaN,NaN,-147,Asia and the Pacific,20400625,1589,22.45,2005
27,NaN,NaN,NaN,-147,Asia and the Pacific,20400626,1589,22.55,2006
28,NaN,NaN,NaN,-147,Asia and the Pacific,20400627,1589,22.32,2007
29,NaN,NaN,NaN,-147,Asia and the Pacific,20400628,1589,21.95,2008
...,...,...,...,...,...,...,...,...,...
423115,Other,NaN,NaN,898,Areas not specified,20194790,75,38991.55,2016
423116,Other,NaN,NaN,898,Areas not specified,20194806,76,462.43,1985
423117,Other,NaN,NaN,898,Areas not specified,20194807,76,42.25,1995
423118,Other,NaN,NaN,898,Areas not specified,20194808,76,2247.89,2005
423119,Other,NaN,NaN,898,Areas not specified,20194809,76,2260.25,2006
423120,Other,NaN,NaN,898,Areas not specified,20194810,76,2750.41,2007
423121,Other,NaN,NaN,898,Areas not specified,20194811,76,3148.90,2008
423122,Other,NaN,NaN,898,Areas not specified,20194812,76,3902.27,2009
423123,Other,NaN,NaN,898,Areas not specified,20194813,76,3594.89,2010
423124,Other,NaN,NaN,898,Areas not specified,20194814,76,3365.23,2011
423125,Other,NaN,NaN,898,Areas not specified,20194815,76,3131.80,2012
423126,Other,NaN,NaN,898,Areas not specified,20194816,76,3287.46,2013
423127,Other,NaN,NaN,898,Areas not specified,20194817,76,3647.31,2014
423128,Other,NaN,NaN,898,Areas not specified,20194818,76,3171.32,2015
423129,Other,NaN,NaN,898,Areas not specified,20194819,76,3365.34,2016
423130,Other,NaN,NaN,898,Areas not specified,20194835,77,1662.31,1975
423131,Other,NaN,NaN,898,Areas not specified,20194836,77,3444.85,1985
423132,Other,NaN,NaN,898,Areas not specified,20194837,77,8237.77,1995
423133,Other,NaN,NaN,898,Areas not specified,20194838,77,14254.48,2005
423134,Other,NaN,NaN,898,Areas not specified,20194839,77,16055.94,2006
423135,Other,NaN,NaN,898,Areas not specified,20194840,77,19217.79,2007
423136,Other,NaN,NaN,898,Areas not specified,20194841,77,22188.69,2008
423137,Other,NaN,NaN,898,Areas not specified,20194842,77,24726.88,2009
423138,Other,NaN,NaN,898,Areas not specified,20194843,77,28165.71,2010
423139,Other,NaN,NaN,898,Areas not specified,20194844,77,29375.96,2011
423140,Other,NaN,NaN,898,Areas not specified,20194845,77,28019.00,2012
423141,Other,NaN,NaN,898,Areas not specified,20194846,77,29869.64,2013
423142,Other,NaN,NaN,898,Areas not specified,20194847,77,33420.21,2014
423143,Other,NaN,NaN,898,Areas not specified,20194848,77,37367.85,2015
423144,Other,NaN,NaN,898,Areas not specified,20194849,77,42356.89,2016

** join `data_x` and `series`**

In [21]:
data_x = pd.merge(series_df, data_x, how='right',on=['seriesId'])
data_x

,seriesCode,countryAttributeId,seriesId,seriesName,sourceId,tableId,type,parentRegionId,parentRegion_DescEN,refAreaId,refAreaName,dataId,value,year
0,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,NaN,NaN,1,World,18687780,95.1000,1990
1,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,NaN,NaN,1,World,18687781,95.5000,2000
2,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,NaN,NaN,1,World,18687782,95.8000,2005
3,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,NaN,NaN,1,World,18687783,96.1000,2010
4,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,NaN,NaN,1,World,18687784,96.2000,2011
5,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,NaN,NaN,1,World,18687785,96.2000,2012
6,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,NaN,NaN,1,World,18687786,96.3000,2013
7,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,NaN,NaN,1,World,18687787,96.4000,2014
8,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,NaN,NaN,1,World,18687788,96.4000,2015
9,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,34,Southern Asia,4,Afghanistan,18687829,52.2362,2000
10,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,34,Southern Asia,4,Afghanistan,18687830,61.4923,2005
11,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,34,Southern Asia,4,Afghanistan,18687831,70.7483,2010
12,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,34,Southern Asia,4,Afghanistan,18687832,72.5995,2011
13,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,34,Southern Asia,4,Afghanistan,18687833,74.4508,2012
14,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,34,Southern Asia,4,Afghanistan,18687834,76.3020,2013
15,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,34,Southern Asia,4,Afghanistan,18687835,78.1532,2014
16,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,34,Southern Asia,4,Afghanistan,18687836,78.1532,2015
17,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,419,Latin America & Caribbean,5,South America,19498915,96.4000,2000
18,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,419,Latin America & Caribbean,5,South America,19498916,97.0000,2005
19,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,419,Latin America & Caribbean,5,South America,19498917,97.7000,2010
20,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,419,Latin America & Caribbean,5,South America,19498918,97.8000,2011
21,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,419,Latin America & Caribbean,5,South America,19498919,98.0000,2012
22,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,419,Latin America & Caribbean,5,South America,19498920,98.1000,2013
23,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,419,Latin America & Caribbean,5,South America,19498921,98.2000,2014
24,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Region,419,Latin America & Caribbean,5,South America,19498922,98.2000,2015
25,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,39,Southern Europe,8,Albania,18687880,100.0000,1990
26,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,39,Southern Europe,8,Albania,18687881,100.0000,2000
27,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,39,Southern Europe,8,Albania,18687882,98.3818,2005
28,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,39,Southern Europe,8,Albania,18687883,96.4744,2010
29,Water-%U,NaN,2,"Improved drinking water sources, urban (Propor...",42,84,Area,39,Southern Europe,8,Albania,18687884,96.0930,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423115,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218595,12.4065,2004
423116,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218596,8.2155,2005
423117,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218597,8.4157,2006
423118,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218598,8.3665,2007
423119,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218599,8.1776,2008
423120,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218600,8.1270,2009
423121,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218601,7.5614,2010
423122,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218602,6.8749,2011
423123,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218603,5.9786,2012
423124,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218604,5.9973,2013
423125,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218605,6.1551,2014
423126,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218606,6.2975,2015
423127,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218607,6.5932,2016
423128,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,143,Central Asia,860,Uzbekistan,20218608,6.8788,2017
423129,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,5,South America,862,Venezuela (Bolivarian Republic of),20218609,33.9482,2000
423130,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,5,South America,862,Venezuela (Bolivarian Republic of),20218610,39.8721,2002
423131,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,5,South America,862,Venezuela (Bolivarian Republic of),20218611,41.1603,2003
423132,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,5,South America,862,Venezuela (Bolivarian Republic of),20218612,97.6882,2008
423133,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,61,Polynesia,882,Samoa,20218613,7.2376,2000
423134,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,145,Western Asia,887,Yemen,20218614,5.3049,2002
423135,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,145,Western Asia,887,Yemen,20218615,5.1818,2003
423136,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,145,Western Asia,887,Yemen,20218616,5.1092,2004
423137,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,145,Western Asia,887,Yemen,20218617,5.0567,2005
423138,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,145,Western Asia,887,Yemen,20218618,5.0637,2006
423139,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,145,Western Asia,887,Yemen,20218619,6.0418,2007
423140,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,145,Western Asia,887,Yemen,20218620,6.3319,2008
423141,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,145,Western Asia,887,Yemen,20218621,6.3882,2010
423142,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,145,Western Asia,887,Yemen,20218622,6.0707,2011
423143,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,14,Eastern Africa,894,Zambia,20218623,2.2435,2011
423144,%gre_ter_F,NaN,1643,Gross enrollment ratio - Tertiary (female),24,1,Area,14,Eastern Africa,894,Zambia,20218624,3.4681,2012

** join `data_x` and `tables`**

In [22]:
data_x = pd.merge(tables_df, data_x, how='right',on=['tableId'])
data_x

,tableCode,tableId,tableName,tableNote,tableStatusId,tbBkCode,tbBkPrint,topicId,seriesCode,countryAttributeId,...,seriesName,sourceId,type,parentRegionId,parentRegion_DescEN,refAreaId,refAreaName,dataId,value,year
0,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194865,657127.2509,2000
1,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194866,654368.0718,2001
2,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194867,657912.1719,2002
3,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194868,669135.0731,2003
4,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194869,683551.0547,2004
5,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194870,678989.7351,2005
6,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194871,681383.8437,2006
7,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194872,689538.0084,2007
8,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194873,693630.8046,2008
9,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194874,694828.8556,2009
10,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194875,697100.5582,2010
11,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194876,701985.0058,2011
12,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194877,711322.1181,2012
13,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194878,719384.3319,2013
14,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194879,716242.2549,2014
15,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194880,723319.4497,2015
16,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Region,NaN,NaN,1,World,20194881,740231.2819,2016
17,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194882,749.3600,2000
18,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194883,773.6230,2001
19,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194884,2667.6290,2002
20,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194885,3781.0150,2003
21,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194886,4430.1420,2004
22,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194887,4318.8190,2005
23,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194888,4669.1100,2006
24,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194889,4718.0770,2007
25,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194890,4974.8360,2008
26,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194891,4945.6320,2009
27,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194892,5279.3260,2010
28,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194893,5291.6240,2011
29,education,1,"Enrolment in primary, secondary and tertiary e...",None,1,T07,Y,3,tot-prim,NaN,...,Students enrolled in primary education (thousa...,24,Area,34,Southern Asia,4,Afghanistan,20194894,5767.5430,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423115,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,18684058,20043.8220,2005
423116,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,18684059,20795.5570,2006
423117,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,18684060,21297.9360,2007
423118,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,18684061,22097.3420,2008
423119,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,18684062,23556.8080,2009
423120,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,18684063,23432.1300,2010
423121,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,18684064,19666.1210,2011
423122,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,18979744,10465.6180,1995
423123,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,18979745,18668.6970,2012
423124,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,18979746,25496.6510,2013
423125,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,145,Western Asia,887,Yemen,19493903,22698.7300,2014
423126,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,39,Southern Europe,890,Yugoslavia [former],19494568,89581.1430,1975
423127,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,39,Southern Europe,890,Yugoslavia [former],19494569,124468.9810,1985
423128,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,39,Southern Europe,891,Serbia and Montenegro [former],18979747,40579.0220,1995
423129,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,39,Southern Europe,891,Serbia and Montenegro [former],18979748,52302.4210,2005
423130,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18684073,2445.8890,1990
423131,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18684074,2126.8600,2004
423132,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18684075,2288.2080,2005
423133,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18684076,2225.8690,2006
423134,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18684077,1914.1740,2007
423135,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18684078,2159.8630,2008
423136,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18684079,2486.2260,2009
423137,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18684080,2691.5780,2010
423138,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18684081,2933.6000,2011
423139,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18979749,4081.3710,1975
423140,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18979750,2753.9170,1985
423141,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18979751,2170.8640,1995
423142,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18979752,3667.0000,2012
423143,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,18979753,3956.6930,2013
423144,dioxide,152,CO2 emission estimates,None,3,X25,Y,13,co2,NaN,...,Emissions (thousand metric tons of carbon diox...,3,Area,14,Eastern Africa,894,Zambia,19493904,4503.0760,2014

** join `data_x` and `countries`**

In [23]:
data_x = pd.merge(topics_df, data_x, how='right',on=['topicId'])
data_x

,topicId,topicNameEN,topicNameFR,tableCode,tableId,tableName,tableNote,tableStatusId,tbBkCode,tbBkPrint,...,seriesName,sourceId,type,parentRegionId,parentRegion_DescEN,refAreaId,refAreaName,dataId,value,year
0,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,NaN,NaN,1,World,19032061,1.185,2015
1,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,NaN,NaN,1,World,19683519,1.782,1985
2,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,NaN,NaN,1,World,19683520,1.793,1990
3,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,NaN,NaN,1,World,19683521,1.519,1995
4,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,NaN,NaN,1,World,19683522,1.324,2000
5,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,NaN,NaN,1,World,19683523,1.253,2005
6,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,NaN,NaN,1,World,19683524,1.233,2010
7,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,NaN,NaN,1,World,19707619,1.087,2020
8,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,1,World,2,Africa,19032062,2.587,2015
9,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,1,World,2,Africa,19683525,2.824,1985
10,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,1,World,2,Africa,19683526,2.759,1990
11,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,1,World,2,Africa,19683527,2.607,1995
12,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,1,World,2,Africa,19683528,2.461,2000
13,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,1,World,2,Africa,19683529,2.464,2005
14,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,1,World,2,Africa,19683530,2.530,2010
15,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,1,World,2,Africa,19707620,2.489,2020
16,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Area,34,Southern Asia,4,Afghanistan,19032063,3.162,2015
17,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Area,34,Southern Asia,4,Afghanistan,19683531,-2.344,1985
18,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Area,34,Southern Asia,4,Afghanistan,19683532,0.776,1990
19,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Area,34,Southern Asia,4,Afghanistan,19683533,6.672,1995
20,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Area,34,Southern Asia,4,Afghanistan,19683534,3.227,2000
21,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Area,34,Southern Asia,4,Afghanistan,19683535,4.426,2005
22,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Area,34,Southern Asia,4,Afghanistan,19683536,2.776,2010
23,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Area,34,Southern Asia,4,Afghanistan,19707621,2.409,2020
24,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,419,Latin America & Caribbean,5,South America,19683537,2.164,1985
25,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,419,Latin America & Caribbean,5,South America,19683538,1.941,1990
26,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,419,Latin America & Caribbean,5,South America,19683539,1.719,1995
27,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,419,Latin America & Caribbean,5,South America,19683540,1.534,2000
28,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,419,Latin America & Caribbean,5,South America,19683541,1.325,2005
29,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,Population annual rate of increase (percent),73,Region,419,Latin America & Caribbean,5,South America,19683542,1.143,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423115,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,11,Western Africa,854,Burkina Faso,19718452,0.045,2009
423116,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,11,Western Africa,854,Burkina Faso,19718453,0.046,2010
423117,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,11,Western Africa,854,Burkina Faso,19718454,0.038,2011
423118,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,11,Western Africa,854,Burkina Faso,19718455,0.047,2012
423119,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,5,South America,858,Uruguay,19718456,3.721,2002
423120,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,5,South America,858,Uruguay,19718457,3.938,2008
423121,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,143,Central Asia,860,Uzbekistan,19718458,2.614,2010
423122,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,143,Central Asia,860,Uzbekistan,19718459,2.576,2011
423123,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,143,Central Asia,860,Uzbekistan,19718460,2.518,2012
423124,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,143,Central Asia,860,Uzbekistan,19718461,2.479,2013
423125,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,143,Central Asia,860,Uzbekistan,19718462,2.451,2014
423126,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,5,South America,862,Venezuela (Bolivarian Republic of),19718463,1.925,2001
423127,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,61,Polynesia,882,Samoa,19718464,0.691,1999
423128,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,61,Polynesia,882,Samoa,19718465,0.281,2003
423129,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,61,Polynesia,882,Samoa,19718466,0.278,2005
423130,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,61,Polynesia,882,Samoa,19718467,0.463,2008
423131,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,61,Polynesia,882,Samoa,20012836,0.344,2010
423132,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,145,Western Asia,887,Yemen,19718469,0.338,2004
423133,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,145,Western Asia,887,Yemen,19718470,0.310,2008
423134,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,145,Western Asia,887,Yemen,19718471,0.310,2009
423135,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,145,Western Asia,887,Yemen,19718472,0.311,2014
423136,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,14,Eastern Africa,894,Zambia,19718473,0.128,2004
423137,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,14,Eastern Africa,894,Zambia,19718474,0.054,2005
423138,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,14,Eastern Africa,894,Zambia,19718475,0.052,2006
423139,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,14,Eastern Africa,894,Zambia,19718476,0.061,2008
423140,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,14,Eastern Africa,894,Zambia,19718477,0.059,2009
423141,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,14,Eastern Africa,894,Zambia,19718478,0.060,2010
423142,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,14,Eastern Africa,894,Zambia,19718479,0.161,2011
423143,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,14,Eastern Africa,894,Zambia,19718480,0.162,2012
423144,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,Health personnel: Physicians (per 1000 populat...,84,Area,14,Eastern Africa,894,Zambia,20012837,0.091,2016

** join `data_x` and `sources`**

In [24]:
data_x = pd.merge(data_x, sources_df, how='left',on=['sourceId'])
data_x

,topicId,topicNameEN,topicNameFR,tableCode,tableId,tableName,tableNote,tableStatusId,tbBkCode,tbBkPrint,...,parentRegionId,parentRegion_DescEN,refAreaId,refAreaName,dataId,value,year,sourceCode,sourceNameEN,sourceNameFR
0,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,NaN,NaN,1,World,19032061,1.185,2015,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
1,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,NaN,NaN,1,World,19683519,1.782,1985,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
2,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,NaN,NaN,1,World,19683520,1.793,1990,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
3,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,NaN,NaN,1,World,19683521,1.519,1995,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
4,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,NaN,NaN,1,World,19683522,1.324,2000,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
5,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,NaN,NaN,1,World,19683523,1.253,2005,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
6,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,NaN,NaN,1,World,19683524,1.233,2010,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
7,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,NaN,NaN,1,World,19707619,1.087,2020,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
8,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,1,World,2,Africa,19032062,2.587,2015,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
9,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,1,World,2,Africa,19683525,2.824,1985,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
10,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,1,World,2,Africa,19683526,2.759,1990,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
11,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,1,World,2,Africa,19683527,2.607,1995,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
12,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,1,World,2,Africa,19683528,2.461,2000,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
13,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,1,World,2,Africa,19683529,2.464,2005,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
14,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,1,World,2,Africa,19683530,2.530,2010,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
15,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,1,World,2,Africa,19707620,2.489,2020,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
16,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,34,Southern Asia,4,Afghanistan,19032063,3.162,2015,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
17,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,34,Southern Asia,4,Afghanistan,19683531,-2.344,1985,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
18,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,34,Southern Asia,4,Afghanistan,19683532,0.776,1990,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
19,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,34,Southern Asia,4,Afghanistan,19683533,6.672,1995,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
20,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,34,Southern Asia,4,Afghanistan,19683534,3.227,2000,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
21,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,34,Southern Asia,4,Afghanistan,19683535,4.426,2005,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
22,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,34,Southern Asia,4,Afghanistan,19683536,2.776,2010,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
23,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,34,Southern Asia,4,Afghanistan,19707621,2.409,2020,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
24,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,419,Latin America & Caribbean,5,South America,19683537,2.164,1985,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
25,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,419,Latin America & Caribbean,5,South America,19683538,1.941,1990,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
26,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,419,Latin America & Caribbean,5,South America,19683539,1.719,1995,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
27,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,419,Latin America & Caribbean,5,South America,19683540,1.534,2000,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
28,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,419,Latin America & Caribbean,5,South America,19683541,1.325,2005,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
29,2,Population and migration,Population et migration,lifecbmort,8,Population growth and indicators of fertility ...,None,3,X03,Y,...,419,Latin America & Caribbean,5,South America,19683542,1.143,2010,UNPD_WPP,"United Nations Population Division, New York, ...","Organisation des Nations Unies, Division de la..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423115,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,11,Western Africa,854,Burkina Faso,19718452,0.045,2009,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423116,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,11,Western Africa,854,Burkina Faso,19718453,0.046,2010,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423117,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,11,Western Africa,854,Burkina Faso,19718454,0.038,2011,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423118,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,11,Western Africa,854,Burkina Faso,19718455,0.047,2012,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423119,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,5,South America,858,Uruguay,19718456,3.721,2002,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423120,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,5,South America,858,Uruguay,19718457,3.938,2008,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423121,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,143,Central Asia,860,Uzbekistan,19718458,2.614,2010,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423122,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,143,Central Asia,860,Uzbekistan,19718459,2.576,2011,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423123,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,143,Central Asia,860,Uzbekistan,19718460,2.518,2012,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423124,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,143,Central Asia,860,Uzbekistan,19718461,2.479,2013,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423125,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,143,Central Asia,860,Uzbekistan,19718462,2.451,2014,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423126,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,5,South America,862,Venezuela (Bolivarian Republic of),19718463,1.925,2001,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423127,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,61,Polynesia,882,Samoa,19718464,0.691,1999,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423128,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,61,Polynesia,882,Samoa,19718465,0.281,2003,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423129,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,61,Polynesia,882,Samoa,19718466,0.278,2005,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423130,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,61,Polynesia,882,Samoa,19718467,0.463,2008,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423131,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,61,Polynesia,882,Samoa,20012836,0.344,2010,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423132,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,145,Western Asia,887,Yemen,19718469,0.338,2004,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423133,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,145,Western Asia,887,Yemen,19718470,0.310,2008,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423134,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,145,Western Asia,887,Yemen,19718471,0.310,2009,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423135,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,145,Western Asia,887,Yemen,19718472,0.311,2014,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423136,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,14,Eastern Africa,894,Zambia,19718473,0.128,2004,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423137,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,14,Eastern Africa,894,Zambia,19718474,0.054,2005,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423138,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,14,Eastern Africa,894,Zambia,19718475,0.052,2006,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423139,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,14,Eastern Africa,894,Zambia,19718476,0.061,2008,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423140,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,14,Eastern Africa,894,Zambia,19718477,0.059,2009,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423141,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,14,Eastern Africa,894,Zambia,19718478,0.060,2010,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423142,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,14,Eastern Africa,894,Zambia,19718479,0.161,2011,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423143,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,14,Eastern Africa,894,Zambia,19718480,0.162,2012,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."
423144,22,Health,Santé,Healthforc,151,Health Personnel,None,1,T10,Y,...,14,Eastern Africa,894,Zambia,20012837,0.091,2016,WHO_HWF,"World Health Organisation (WHO), Geneva, WHO G...","Organisation mondiale de la santé (OMS), Genèv..."

Partition by Table

In [25]:
for i in tables_df.index:
    tableId =  tables_df.iloc[i,1]
    tableCode = tables_df.iloc[i,0]
    x = data_x.loc[data_x['tableId'] == tableId]
    x = x.replace('\n',' ', regex=True).replace('\r',' ', regex=True).replace('\t',' ', regex=True)
    x.to_csv(data_dir + 't_' + tableCode + '.csv',index=False, encoding='UTF-8')

Save full data table as csv. (Remove line breaks and tab character from the dataframe)

In [ ]:
data_x = data_x.replace('\n',' ', regex=True).replace('\r',' ', regex=True).replace('\t',' ', regex=True)


data_x.to_csv(data_dir + 'data_x.csv',index=False, encoding='UTF-8')